extends ../layout

block content
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    legend Signup
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Signup
        a.btn.btn-link(href='/login') Login
        hr
        if secrets.facebookAuth
          a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            i.fa.fa-facebook
            | Register with Facebook
        if secrets.twitterAuth
          a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
            i.fa.fa-twitter
            | Register with Twitter
        if secrets.googleAuth
          a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
            i.fa.fa-google-plus
            | Register with Google
        if secrets.githubAuth
          a.btn.btn-block.btn-github.btn-social(href='/auth/github')
            i.fa.fa-github
            | Register with GitHub
        if secrets.linkedinAuth
          a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
            i.fa.fa-linkedin
            | Register with LinkedIn
