div(class='container-fluid padded')
    div(class='row-padded row-fluid')
        div(class='col-sm-4')
            input(id='city', api='/api/v1/cities', type='text', class='form-control', placeholder='City', autocomplete='off', value=city)
        div(class='col-sm-4')
            input(id='restaurant', api='/api/v1/restaurants', type='text', class='form-control', placeholder='Restaurant', autocomplete='off', value=restaurant)
        div(class='col-sm-4')
            input(id='category', api='/api/v1/categories', type='text', class='form-control', placeholder='Category', autocomplete='off', value=category)
