div(class='container-fluid')
    div(class='row-fluid')
        div(class='col-sm-11')
            div(class='list-group')
                a(class='list-group-item active', href=title.url)= title.name
                    if !!items.length
                        for item in items
                            if !!item.name
                                a(class='list-group-item', href=item.url)= item.name
                   if !items.length
                        a(class='list-group-item') Empty

