- var elementsInRow = 12/cols
- each _, x in posts
    - if ((x % elementsInRow == 0))
        div(class='row')
            - each post, y in posts.slice(x, x+elementsInRow)
                include post
