div(class='panel panel-default dashboard')
    div(class='panel-body')
        if title != 'Home'
            ul(class='pager pull-left')
                li(class='previous')
                    if back
                        a(id='back', href='#{back.href}') &larr; #{back.text}
                    else
                        a(href='javascript:history.back()') &larr; 
                            span(class='hidden-xs') Go Back
        a(class="pull-right btn btn-success", href="/post/new")
            i(class="fa fa-camera")
            span(class='hidden-xs') Upload Picture
        a(class="pull-right btn btn-info", href="/dashboard")
            i(class="fa fa-list")
            span(class='hidden-xs') Dashboard
