extends ../layout

block content
    div(class='panel panel-default', room='post-new')
        div(class='panel-body')
            div(class='container-fluid')
                p.lead Upload Pictures

                include ../includes/categorize

                div(class='row-fluid')
                    div(class='col-sm-5')
                        form(class='form-horizontal')
                            fieldset
                                p.lead From computer
                                input(id='image', type='file', name='image' multiple)


                    div(class='col-sm-1') &nbsp;
                    div(class='col-sm-6')
                        form(class='form-horizontal')
                            fieldset
                                p.lead From internet
                                input(type='text', class='image-url form-control', placeholder='Paste a url')

                div(class='clearfix padded row-fluid')
                    button(id='upload', class='btn btn-warning')
                        i.fa.fa-upload
                        | Upload
                    if (!!album)
                        button(id='album-create', class="btn btn-info")
                            i.fa.fa-check-square
                            | Make Album
                    else
                        button(id='album-create', class="btn btn-default")
                            i.fa.fa-square-o
                            | Make Album
                    input(type='hidden', id='album', value=albumId)

                div(id='uploadsParent', class='clearfix padded row-fluid')
                    div(id='uploads', class='row-fluid')
