extends ../layout

block content
    div(class='panel panel-default')
        div(class='panel-body')
            br
            input(id='image', type='file', name='image')
            br
            input(id='upload', type='submit', value='Upload', class='btn btn-warning')
            div(id="image-container")
            br
            div(id="progress-bar", class="progress progress-info progress-striped active")
                div(id="progress", class="progress-bar")
