extends layout

block content
  h1 Welcome to Menugrapher
  p.lead
    ul(class="lead")
      li Upload, organize, show case your food pics in one place
      li Browse pics of menu items before you order
    br
    a(class="btn btn-success", href="signup")
        i(class="fa fa-arrow-circle-o-right")
        | Signup
    a.btn.btn-link(href='/login') or Login
