extends layout

block content
    div(class='panel panel-default')
        div(class='panel-body')
            div.row
                div(class='col-sm-12')
                    h1.bottom-border Welcome to Menugrapher!
                        h3.text-success Free, Open and Fair
                        h4.text-info All the information you need to know about your favorite restaurants
                        h4.text-warning Share and organize your food photography
                        h4.text-danger Lookup menues and place orders
                    br
                    if !user
                        a(class="btn btn-success", href="signup")
                            i(class="fa fa-arrow-circle-o-right")
                            | Start now
                            a.btn.btn-link(href='/login') or Login
                        br
                        br
                        br

            div.row
                div(class='col-sm-12')
                    legend.lead Cities
                    - var items = cities;
                    - var search = true;
                    - var placeholder = 'Search a City';
                    - var api='/api/v1/cities';
                    include includes/itemList

            div.row.padded
                div.col-sm-12
                    legend.lead Categories
                    - items = categories
                    - var search = true;
                    - var placeholder = 'Search Categories';
                    - var api='/api/v1/categories';
                    include includes/itemList

            div.row.padded
                div(class='col-sm-12')
                    legend.lead Posts
                    - var cols = 3
                    include includes/posts

