extends layout

block content
    div(class='panel panel-default')
        div(class='panel-body')
            div.row
                div(class='col-sm-12')
                    legend.lead Welcome to Menugrapher
                    ol(class='text-success')
                        li Post, organize and share your food photography
                        li Search local restaurant listings and menues
                        li Place orders quickly with our multi-method ordering system
                    br
                    if !user
                        a(class="btn btn-success", href="signup")
                            i(class="fa fa-arrow-circle-o-right")
                            | Start now
                            a.btn.btn-link(href='/login') or Login

            div.row
                div(class='col-sm-12')
                    legend.lead Cities
                    - var items = cities;
                    - var search = true;
                    - var placeholder = 'Search a City';
                    - var api='/api/v1/cities';
                    include includes/itemList

            div.row.padded
                div.col-sm-12
                    legend.lead Categories
                    - items = categories
                    - var search = true;
                    - var placeholder = 'Search Categories';
                    - var api='/api/v1/categories';
                    include includes/itemList

            div.row.padded
                div(class='col-sm-12')
                    legend.lead Posts
                    - var cols = 3
                    include includes/posts

