extends ../layout

block header
    include includes/header

block content
    div(class='panel panel-default restaurant', room='restaurant-#{restaurant._id}')
        div(class='panel-body')

            div(class='clearfix row-fluid')
                div(class='col-sm-3')
                    - var title = { name: restaurant.name + ' Menu', url: '' }
                    - var items = restaurant.nonEmptyMenu
                    include ../includes/leftmenu

                div(class='col-sm-9')
                    div(class='container-fluid')
                        div(class='row')
                            include includes/info
                        hr.clearfix
                        div(class='row')
                            p.lead Posts in #{restaurant.name}
                            - var cols = 3
                            include ../includes/posts
