extends ../layout

block content
    div(class='panel panel-default', room='album-#{album._id}')
        div(class='panel-body', room='albums-user-#{album._user}')

            div(class='clearfix row-fluid')
                div(class='col-sm-3')
                    - title = { name: album.user.name + "'s albums", url: '' }
                    - items = userAlbums
                    - id = 'userAlbums-' + album._user
                    include ../includes/leftmenu

                div(class='col-sm-9')
                    div(class='container-fluid')
                        div(class='row-fluid')
                            div(class='col-sm-12')
                                p.lead #{album.name}
                                - var cols = 3
                                - var posts = album.pics.reverse()
                                div#album-posts
                                - each post in posts
                                    include ../includes/post
