extends ../layout

block content
    div(class='panel panel-default')
        div(class='panel-body')
            p.lead Categories
            hr
            for category in categories
                p.lead
                    a(href='#{category.url}')= category.name
