extends ../layout

block content
    div(class='panel panel-default')
        div(class='panel-body')

            div(class='clearfix row-fluid')
                div(class='col-sm-3')
                    - var title = { name: 'Categories', url: '/categories' }
                    - var items = categories
                    include ../includes/leftmenu

                div(class='col-sm-9')
                    p.lead Posts in #{category.name}
                    - var cols = 3
                    include ../includes/posts
