extends ../layout

block content
    div(class='panel panel-default')
        div(class='panel-body')

            div(class='clearfix row-fluid')
                div(class='col-sm-3')
                    - var title = { name: restaurant.name + ' Menu', url: '' }
                    - var items = restaurant.items
                    include ../includes/leftmenu

                div(class='col-sm-9')
                    div(class='container-fluid')
                        div(class='row-fluid')
                            p.lead Posts of #{item.name}
                            - var cols = 3
                            include ../includes/posts
