extends ../layout

block content
    div(class='panel panel-default')
        div(class='panel-body')

            div.row
                legend.lead Posts of #{item.name}
                - var cols = 3
                include ../includes/posts

            div.row.padded
                legend.lead #{restaurant.name} Menu
                - var items = restaurant.menu
                include ../includes/itemList


