extends ../layout

block content
    div(class='panel panel-default')
        div(class='panel-body')

            div.row
                legend.lead Posts of #{item.name}
                    - var button_text = 'Hide';
                    - var button_rel = 'item-panel';
                    include ../includes/showhide
                div.content-panel.item-panel
                    - var cols = 3
                    include ../includes/posts
